################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/obj
/bin
/packages/XPatchLib.3.0.0.1
/packages/XPatchLib.3.0.0.1
/packages/XPatchLib.3.0.1.4
/packages/XPatchLib.3.0.2.4
/packages/XPatchLib.3.0.2.4
